* {
    margin: 0;
    list-style: none;
}
body {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(/photo/clouds.gif);
    background-size:cover;
    background-position:center;
}
.card {
    padding: 20px;
    height: 600px;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    box-shadow: 0 0 7px rgba(18, 18, 18, 0.5);
    transition: box-shadow 0.3s ease-out;
}

.card:hover {
    box-shadow: 0 0 13px rgba(18, 18, 18, 0.8);

}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: ghostwhite;
    height: 100%;
}

#searchBox {
    width: 50%;
    padding: 10px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 2px solid ghostwhite;
    outline: none;
    color: ghostwhite;
    font-size: 1.3rem;
}

#icone {
    height: 50px;
    width: 50px;
}